:root {
  --title-size: 3vw;

  --cell-size: 6vw;
  --cell-font-size: calc(var(--cell-size) - 1.5vw);
  --cell-padding: 4px;

  --color-normal: #0077c7;
  --color-not-found: #707070;
  --color-found: #e7002a;
  --color-wrong-place: #ffbd00;
  --color-background: #2b2b2b;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-background);
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: white;
  font-size: var(--title-size);
  margin-bottom: 48px;
}

.line {
  display: flex;
  align-items: center;
  background-color: var(--color-normal);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  padding: var(--cell-padding);
  
  color: white;
  border: 1px solid white;
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: var(--cell-font-size);
}

.found {
  background-color: var(--color-found);
}

.not-found {
  background-color: var(--color-not-found);
}

.wrong {
  background-color: var(--color-wrong-place);
}

.picture {
  width: 50%;
  margin: auto;
}